[Desktop Entry]
Encoding=UTF-8
Name=Link to [jit] Python built-in function support · Issue #18627 · pytorch ...https://github.com › pytorch › pytorch › issues
Type=Link
URL=https://github.com/pytorch/pytorch/issues/18627
Icon=text-html
